<!DOCTYPE HTML>
<!--suppress XmlDuplicatedId -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CCTV Video Projector</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/videoPreview.css">
    <link rel="stylesheet" href="/css/calibrationVideo.css">
</head>
<body id="calibrationBody">
<th:block th:include="header :: template"></th:block>

<div id="calibrationScreenshotDiv" hidden>
    <canvas id="calibrationScreenshotCanvas"></canvas>
    <img id="calibrationScreenshotImg">
</div>
<div>
    <label for="settingColorInput"></label>
    <input id="settingColorInput" type="color" value="#0000ff">

    <label for="settingRangeInput"></label>
    <input id="settingRangeInput" type="range" min="4" max="20" value="10">
</div>
<form id="calibrationForm" th:action="'/video/calibration/save'" method="post">
    <input type="hidden" name="id" th:value="${video.id}">

    <div class="pointsHeader">
        <div id="calibrationFormScreenTitle" th:text="#{video.calibration.screen}"></div>
        <div id="calibrationFormRealTitle" th:text="#{video.calibration.real}"></div>
    </div>
    <div th:each="i : ${#numbers.sequence(0, 5)}">
        <div class="points">
            <div class="pointsBody">
                <div class="pointsRow">
                    <div th:id="'screenPoint' + ${i}" class="screenPoint">
                        <div>(</div>
                        <input th:id="'screenPointXInput' + ${i}"
                               th:if="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'xScreen' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getXScreen()}">
                        <input th:id="'screenPointXInput' + ${i}"
                               th:unless="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'xScreen' + ${i}">
                        <div>;</div>
                        <input th:id="'screenPointYInput' + ${i}"
                               th:if="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'yScreen' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getYScreen()}">
                        <input th:id="'screenPointYInput' + ${i}"
                               th:unless="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'yScreen' + ${i}">
                        <div>)</div>
                    </div>

                    <div th:id="'worldPoint' + ${i}" class="worldPoint">
                        <div>(</div>
                        <input th:if="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'xWorld' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getXWorld()}">
                        <input th:unless="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'xWorld' + ${i}">
                        <div>;</div>
                        <input th:if="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'yWorld' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getYWorld()}">
                        <input th:unless="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'yWorld' + ${i}">
                        <div>;</div>
                        <input th:if="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'zWorld' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getZWorld()}">
                        <input th:unless="${video.calibrationPointList.size() >= i + 1}" type="text"
                               th:name="'zWorld' + ${i}">
                        <div>)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submitDiv">
        <button type="submit" th:text="#{video.calibration.save}"></button>
    </div>
</form>
<th:block th:include="message :: template"></th:block>
<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const canvas = document.getElementById("calibrationScreenshotCanvas")
    const context = canvas.getContext("2d")

    const screenshotDiv = document.getElementById("calibrationScreenshotDiv")

    const screenshot = document.getElementById("calibrationScreenshotImg")

    const urlCreator = window.URL || window.webkitURL

    canvas.width = 0
    canvas.height = 0
    canvas.style.width = "0"
    canvas.style.height = "0"

    let points = []
    for (let i = 0; i < 6; i++) {
        points.push([null, null, null, null])
    }

    for (let i = 0; i < 6; i++) {
        document.getElementById("screenPointXInput" + i).oninput = (event) => {
            const x = parseFloat(event.target.value)

            if (isNaN(x)) {
                points[i][0] = null
            } else {
                points[i][0] = x
            }

            clearCanvas()
            for (let i = 0; i < points.length; i++) {
                drawPoint(i)
            }
        }

        document.getElementById("screenPointYInput" + i).oninput = (event) => {
            const y = parseFloat(event.target.value)

            if (isNaN(y)) {
                points[i][1] = null
            } else {
                points[i][1] = y
            }

            clearCanvas()
            for (let i = 0; i < points.length; i++) {
                drawPoint(i)
            }
        }
    }

    let draggingPointId = null
    let clickDraggingPointCoordinatesOffset = null

    canvas.onmousedown = (event) => {
        const x = event.offsetX
        const y = event.offsetY

        const realX = x * initialScreenshotWidth / canvas.width
        const realY = y * initialScreenshotHeight / canvas.height

        let closestOverPoint = null
        let closestDist = Infinity
        for (let i = 0; i < points.length; i++) {
            if (points[i][0] == null || points[i][1] == null) {
                continue
            }

            const dx = realX - points[i][0]
            const dy = realY - points[i][1]

            const dist = Math.sqrt(dx * dx + dy * dy)

            const radius = document.getElementById("settingRangeInput").value * initialScreenshotWidth / canvas.width

            if (dist <= radius && closestDist > dist) {
                closestDist = dist
                closestOverPoint = i
            }
        }


        if (closestOverPoint != null) {
            draggingPointId = closestOverPoint

            const offsetX = points[draggingPointId][0] - realX
            const offsetY = points[draggingPointId][1] - realY

            clickDraggingPointCoordinatesOffset = [offsetX, offsetY]
        }
    }

    canvas.onmouseup = () => {
        draggingPointId = null
        clickDraggingPointCoordinatesOffset = null
    }

    canvas.onmousemove = (event) => {
        if (draggingPointId != null && clickDraggingPointCoordinatesOffset != null) {
            const x = event.offsetX * initialScreenshotWidth / canvas.width
            const y = event.offsetY * initialScreenshotHeight / canvas.height

            const offsetX = clickDraggingPointCoordinatesOffset[0] * canvas.width / initialScreenshotWidth
            const offsetY = clickDraggingPointCoordinatesOffset[1] * canvas.height / initialScreenshotHeight

            const newX = Math.max(0.0, Math.min(x + offsetX, initialScreenshotWidth))
            const newY = Math.max(0.0, Math.min(y + offsetY, initialScreenshotHeight))

            points[draggingPointId][0] = newX
            points[draggingPointId][1] = newY

            applyPointChange(draggingPointId)
            updatePoints()
        }
    }

    for (let i = 0; i < 6; i++) {
        document.getElementsByName("xWorld" + i)[0].oninput = () => {
            points[i][2] = document.getElementsByName("xWorld" + i)[0].value
        }

        document.getElementsByName("yWorld" + i)[0].oninput = () => {
            points[i][3] = document.getElementsByName("yWorld" + i)[0].value
        }

        document.getElementsByName("zWorld" + i)[0].oninput = () => {
            points[i][4] = document.getElementsByName("zWorld" + i)[0].value
        }
    }

    document.getElementById("settingColorInput").oninput = () => {
        clearCanvas()
        updatePoints()
    }

    document.getElementById("settingRangeInput").oninput = () => {
        clearCanvas()
        updatePoints()
    }

    let initialScreenshotWidth = null
    let initialScreenshotHeight = null

    function requestScreenshot(onload) {
        const screenshotXHR = new XMLHttpRequest()
        screenshotXHR.open("GET", "/api/v1/video/screenshot?id=" + [[${video.id}]])
        screenshotXHR.responseType = "blob"
        screenshotXHR.onload = onload
        screenshotXHR.send()
    }

    function clearCanvas() {
        context.clearRect(0, 0, canvas.width, canvas.height)
    }

    function drawPoint(pid) {
        if (points[pid][0] != null && points[pid][1] != null) {
            const realX = points[pid][0]
            const realY = points[pid][1]

            const x = realX * canvas.width / initialScreenshotWidth
            const y = realY * canvas.height / initialScreenshotHeight

            const color = document.getElementById("settingColorInput").value
            const radius = document.getElementById("settingRangeInput").value

            const minRadius = document.getElementById("settingRangeInput").min
            const maxRadius = document.getElementById("settingRangeInput").max

            context.beginPath()
            context.fillStyle = color
            context.ellipse(x, y, radius, radius, 0, 0, 2 * Math.PI)
            context.fill()

            context.font = (10 + 25 * ((radius - minRadius) / (maxRadius - minRadius))) + "px serif"
            context.fillStyle = "#000000"
            context.fillText(pid + 1, x - radius / 2, y + radius / 2)
        }
    }

    function applyPointChange(pid) {
        const xScreen = points[pid][0]
        const yScreen = points[pid][1]

        const xWorld = points[pid][2]
        const yWorld = points[pid][3]
        const zWorld = points[pid][4]

        if (xScreen != null) {
            document.getElementsByName("xScreen" + pid)[0].value = xScreen.toFixed(2)
        }

        if (yScreen != null) {
            document.getElementsByName("yScreen" + pid)[0].value = yScreen.toFixed(2)
        }

        if (xWorld != null) {
            document.getElementsByName("xWorld" + pid)[0].value = xWorld
        }

        if (yWorld != null) {
            document.getElementsByName("yWorld" + pid)[0].value = yWorld
        }

        if (zWorld != null) {
            document.getElementsByName("zWorld" + pid)[0].value = zWorld
        }
    }

    function updatePoints() {
        clearCanvas()

        for (let i = 0; i < points.length; i++) {
            applyPointChange(i)
            drawPoint(i)
        }
    }

    function showScreenshot(data) {
        const screenshotUrl = urlCreator.createObjectURL(data)
        screenshot.src = screenshotUrl

        const tmpImage = new Image()
        tmpImage.onload = () => {
            initialScreenshotWidth = tmpImage.width
            initialScreenshotHeight = tmpImage.height

            updatePoints()
        }
        tmpImage.src = screenshotUrl


        screenshot.style.width = "100%"
        canvas.style.width = "100%"
        canvas.style.height = "100%"

        screenshot.onload = () => {
            canvas.width = screenshot.width
            canvas.height = screenshot.height

            for (let i = 0; i < points.length; i++) {
                if (points[i][0] == null || points[i][1] == null) {
                    points[i][0] = Math.random() * canvas.width
                    points[i][1] = Math.random() * canvas.height
                }
            }

            updatePoints()
        }

        const receivedPointList = [[${video.calibrationPointList}]]
        if (receivedPointList.length > 0) {
            points = []
            for (let receivedPointId in receivedPointList) {
                points.push([
                    receivedPointList[receivedPointId]["xscreen"],
                    receivedPointList[receivedPointId]["yscreen"],
                    receivedPointList[receivedPointId]["xworld"],
                    receivedPointList[receivedPointId]["yworld"],
                    receivedPointList[receivedPointId]["zworld"]
                ])
            }

            updatePoints()
        }

        window.onresize = () => {
            canvas.width = screenshot.width
            canvas.height = screenshot.height

            updatePoints()
        }
    }

    let loadingUrl = null
    const loadingGifXHR = new XMLHttpRequest()
    loadingGifXHR.open("GET", "/api/v1/resources/gif/loading")
    loadingGifXHR.responseType = "blob"
    loadingGifXHR.onload = (event) => {
        loadingUrl = urlCreator.createObjectURL(event.target.response)
    }
    loadingGifXHR.send()

    function tryRequestScreenshot() {
        requestScreenshot((event) => {
            if (event.target.status === 200) {
                showScreenshot(event.target.response)
                screenshotDiv.removeAttribute("hidden")
            }

            if (event.target.status === 404) {
                if (screenshot.src === "" && loadingUrl != null) {
                    screenshot.src = loadingUrl

                    screenshotDiv.removeAttribute("hidden")
                }

                setTimeout(tryRequestScreenshot, 1000)
            }
        })
    }

    tryRequestScreenshot()
    /*]]>*/
</script>
</body>
</html>