<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="template">
    <!--/*@thymesVar id="currentSession" type="easy.soc.hacks.frontend.domain.Session"*/-->

    <div id="mapBlock">
        <div id="mapPreview">
            <div id="dropImageDiv" th:text="#{map.preview.drop.image}"></div>
            <canvas id="mapCanvas"></canvas>
        </div>
        <th:block th:include=":: mapControls"></th:block>
    </div>

    <th:block th:include=":: collectAndShowMapScript"></th:block>
</th:block>

<th:block th:fragment="mapControls">
    <div id="mapControlsSize">
        <button id="mapControlsSizeButtonPlus" class="mapControlSizeButton">
            +
        </button>
        <div id="mapControlsSizeText">

        </div>
        <button id="mapControlsSizeButtonMinus" class="mapControlSizeButton">
            -
        </button>
    </div>
</th:block>

<th:block th:fragment="collectAndShowMapScript">
    <script th:inline="javascript">
        let canvasImage = new Image()

        let xMin = -10
        let xMax = 10
        let yMin = -5
        let yMax = 5

        let strideSize = 0.1
        let strideMovement = 0.1

        let nextBatchId = undefined

        let batchIdFrameIdPointsDict = {}
        let batchIdDurationDict = {}
        let readyToProcessBatchSet = new Set()

        const canvas = document.getElementById("mapCanvas")
        canvas.width = 600
        canvas.height = 300

        const context = canvas.getContext("2d")

        function updateSize() {
            document.getElementById("mapControlsSizeText").innerText =
                "X: [" + xMin.toFixed(2) + ", " + xMax.toFixed(2) + "] Y: [" + yMin.toFixed(2) + ", " + yMax.toFixed(2) + "]"
        }

        updateSize()

        const sizeButtonPlus = document.getElementById("mapControlsSizeButtonPlus")
        const sizeButtonMinus = document.getElementById("mapControlsSizeButtonMinus")

        let holdSizeButtonInterval = null

        const mapPreview = document.getElementById("mapPreview")
        const dropImageDiv = document.getElementById("dropImageDiv")

        mapPreview.ondragover = (event) => {
            event.preventDefault()

            dropImageDiv.style.display = "block"
        }

        mapPreview.ondragleave = (event) => {
            if (event.fromElement === document.getElementById("preview")) {
                dropImageDiv.style.display = "none"
            }
        }

        mapPreview.ondrop = (event) => {
            event.preventDefault()

            dropImageDiv.style.display = "none"

            const files = event.dataTransfer.files

            if (files.length === 1) {
                const file = files[0]

                if (file["type"].split("/")[0] === "image") {
                    canvasImage.src = URL.createObjectURL(file)

                    canvasImage.onload = () => {
                        drawImage()
                    }
                }
            }
        }

        sizeButtonPlus.onmousedown = () => {
            function changeSize() {
                xMin += strideSize
                xMax -= strideSize

                yMin += strideSize * canvas.height / canvas.width
                yMax -= strideSize * canvas.height / canvas.width

                updateSize()
            }

            changeSize()

            holdSizeButtonInterval = setInterval(
                changeSize,
                100
            )
        }
        sizeButtonPlus.onmouseup = () => {
            clearTimeout(holdSizeButtonInterval)
            holdSizeButtonInterval = null
        }
        sizeButtonPlus.onmouseleave = () => {
            clearTimeout(holdSizeButtonInterval)
            holdSizeButtonInterval = null
        }

        sizeButtonMinus.onmousedown = () => {
            function changeSize() {
                xMin -= strideSize
                xMax += strideSize

                yMin -= strideSize * canvas.height / canvas.width
                yMax += strideSize * canvas.height / canvas.width

                updateSize()
            }

            changeSize()

            holdSizeButtonInterval = setInterval(
                changeSize,
                100
            )
        }
        sizeButtonMinus.onmouseup = () => {
            clearTimeout(holdSizeButtonInterval)
            holdSizeButtonInterval = null
        }
        sizeButtonMinus.onmouseleave = () => {
            clearTimeout(holdSizeButtonInterval)
            holdSizeButtonInterval = null
        }

        let canvasMoveEventActive = false

        canvas.onmousedown = () => {
            canvasMoveEventActive = true
        }
        canvas.onmouseup = () => {
            canvasMoveEventActive = false
        }
        canvas.onmouseleave = () => {
            canvasMoveEventActive = false
        }
        canvas.onmousemove = (event) => {
            if (canvasMoveEventActive) {
                const xMove = event.movementX * strideMovement
                const yMove = event.movementY * strideMovement

                xMin += xMove
                xMax += xMove

                yMin += yMove
                yMax += yMove

                updateSize()
            }
        }

        function clearCanvas() {
            context.clearRect(0, 0, canvas.width, canvas.height)
        }

        function isPointOnCanvas(point) {
            return (
                point[0] >= xMin && point[0] <= xMax &&
                point[1] >= yMin && point[1] <= yMax
            )
        }

        function drawImage() {
            if (canvasImage.src !== "") {
                context.drawImage(canvasImage, 0, 0, canvas.width, canvas.height)
            }
        }

        function drawPoint(x, y, radius, opacity) {
            if (isPointOnCanvas([x, y])) {
                const canvasX = (x - xMin) / (xMax - xMin) * canvas.width
                const canvasY = (y - yMin) / (yMax - yMin) * canvas.height
                const canvasRadius = radius / (xMax - xMin) * canvas.width

                context.beginPath()
                context.fillStyle = "rgba(0, 0, 0," + opacity + ")";
                context.arc(canvasX, canvasY, canvasRadius, 0, 2 * Math.PI)
                context.fill()
            }
        }

        function drawFrame(resolve, batchId, frameId) {
            clearCanvas()

            drawImage()

            for (let pointId in batchIdFrameIdPointsDict[batchId][frameId]) {
                const point = batchIdFrameIdPointsDict[batchId][frameId][pointId]

                const x = point[0]
                const y = point[1]
                const radius = point[2]
                const opacity = point[3]

                drawPoint(x, y, radius, opacity)
            }

            resolve()
        }

        async function drawBatch(batchId) {
            const duration = batchIdDurationDict[batchId]

            let timeoutList = []

            for (let frameId in batchIdFrameIdPointsDict[batchId]) {
                timeoutList.push(new Promise((resolve) => setTimeout(
                    drawFrame,
                    frameId * (1000.0 * duration / Object.keys(batchIdFrameIdPointsDict[batchId]).length),
                    resolve,
                    batchId,
                    frameId
                )))
            }

            for (let timeoutId in timeoutList) {
                await timeoutList[timeoutId]
            }
        }

        let nextBatchToProcess = undefined

        async function processBatches() {
            if (readyToProcessBatchSet.has(nextBatchToProcess)) {
                readyToProcessBatchSet.delete(nextBatchToProcess)

                await drawBatch(nextBatchToProcess)

                delete batchIdFrameIdPointsDict[nextBatchToProcess]
                delete batchIdDurationDict[nextBatchToProcess]

                nextBatchToProcess++
            }

            setTimeout(processBatches, 0)
        }

        processBatches()

        function requestProjection() {
            const projectionXHR = new XMLHttpRequest()
            projectionXHR.open("GET", "/api/v1/session/projection")
            projectionXHR.responseType = "json"

            projectionXHR.onload = (event) => {
                if (event.target.status === 200) {
                    const response = event.target.response

                    const batchId = response["batchId"]
                    const duration = response["duration"]

                    if (nextBatchId === undefined || nextBatchId === batchId) {
                        if (nextBatchId === undefined) {
                            nextBatchToProcess = batchId
                        }

                        nextBatchId = batchId + 1

                        batchIdDurationDict[batchId] = duration
                        batchIdFrameIdPointsDict[batchId] = {}

                        for (let projectionId in response["projectionList"]) {
                            const projection = response["projectionList"][projectionId]

                            const frameId = projection["frameId"]
                            const x = projection["x"]
                            const y = projection["y"]
                            const opacity = projection["opacity"]
                            const radius = projection["radius"]

                            if (batchIdFrameIdPointsDict[batchId][frameId] === undefined) {
                                batchIdFrameIdPointsDict[batchId][frameId] = []
                            }

                            batchIdFrameIdPointsDict[batchId][frameId].push([x, y, radius, opacity])
                        }
                    }

                    readyToProcessBatchSet.add(batchId)
                } else {
                }
            }

            projectionXHR.send()
        }

        const videoIds = [[${videoList}]].map((video) => video.id)

        let existFragmentCount = 0
        function checkFragmentExists(videoId) {
            const checkFragmentExistsXHR = new XMLHttpRequest()
            checkFragmentExistsXHR.open("GET", "/api/v1/video/manifest/check?id=" + videoId)

            checkFragmentExistsXHR.onload = (event) => {
                if (event.target.status === 200 && event.target.response === "true") {
                    existFragmentCount++

                    if (existFragmentCount === videoIds.length) {
                        setInterval(
                            requestProjection,
                            1000
                        )
                    }
                } else if (event.target.status === 404) {
                } else {
                    setTimeout(checkFragmentExists, 1000, videoId)
                }
            }

            checkFragmentExistsXHR.send()
        }

        videoIds.forEach(videoId => {
            checkFragmentExists(videoId)
        })
    </script>
</th:block>