<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CCTV Video Projector</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/preview.css">
    <link rel="stylesheet" href="/css/previewCamera.css">
    <link rel="stylesheet" href="/css/videoPreview.css">
    <link rel="stylesheet" href="/css/mapPreview.css">
</head>
<body id="preview">
<th:block th:include="header :: template"></th:block>

<th:block th:switch="${currentSession}">
    <th:block th:case="null">
        <th:block th:switch="${param.get('session')}">
            <th:block th:case="null">
                <div>
                    <form method="post" action="/session/create">
                        <input type="hidden" name="type" th:value="${param.get('type')}">
                        <button class="newSessionButton" type="submit" th:text="#{video.preview.new.session}"></button>
                    </form>
                </div>
            </th:block>
            <th:block th:case="*">
                <h1 th:text="#{message.session.doesnt.exist.title}"></h1>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:case="*">
        <th:block th:switch="${currentSession.streamingType.value}">
            <th:block th:case="${param.get('type').toString()}">
                <th:block th:include="videoPreview :: template"></th:block>

                <th:block th:if=" ${currentSession.status.toString() == 'STREAMING'}">
                    <th:block th:include="mapPreview :: template"></th:block>
                </th:block>

                <div id="previewControls">
                    <form th:if="${currentSession.status.toString()} == 'STREAMING'" method="post" action="/stop">
                        <button class="previewControlButton" th:text="STOP"></button>
                    </form>
                    <form th:if="${currentSession.status.toString()} == 'ACTIVE'" method="post" action="/start">
                        <button class="previewControlButton" th:text="START"></button>
                    </form>
                    <form th:if="${currentSession.status.toString()} == 'ACTIVE'" method="post" action="/delete">
                        <button class="previewControlButton" th:text="DELETE"></button>
                    </form>
                </div>
                <th:block th:switch="${currentSession.status.toString()}">
                </th:block>
            </th:block>

            <th:block th:case="*">
                <h1 th:text="#{message.unmatched.streaming.type.title}"></h1>
            </th:block>
        </th:block>
    </th:block>
</th:block>
<th:block th:include="message :: template"></th:block>
</body>
</html>