<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="template">
    <div id="videoPreview">
        <!--/*@thymesVar id="currentSession" type="easy.soc.hacks.frontend.domain.Session"*/-->
        <!--/*@thymesVar id="videoList" type="java.util.List<easy.soc.hacks.frontend.domain.Video>"*/-->

        <div class="videoPreviewBlock" th:each="video : ${videoList}">
            <p th:text="${video.name}" style="height: 20px">Video Stream ID</p>
            <th:block th:include=":: videoBlock (${video.id})"></th:block>
            <a class="calibration-required-notice"
               th:if="${video.calibrationPointList.isEmpty()}"
               th:text="#{video.preview.calibration.required}"
               th:href="'/video/calibration/?id=' + ${video.id}">
            </a>
        </div>

        <form th:if="${currentSession.status.toString()} == 'ACTIVE'" th:action="'/video/add'" method="get">
            <input type="hidden" name="type" th:value="${param.get('type')}">
            <button class="addVideoButton" type="submit">+</button>
        </form>
        <th:block th:include=":: playVideoScript (${videoList})"></th:block>
    </div>
</th:block>

<th:block th:fragment="videoBlock (videoId)">
    <div class="videoBlock">
        <video th:id="'video' + ${videoId}" class="video" muted="muted" autoplay="autoplay"></video>
    </div>
</th:block>

<th:block th:fragment="drawableVideoBlock (videoId)">
    <video th:id="'video' + ${videoId}" class="video" muted="muted" autoplay="autoplay"></video>
    <canvas class="draw-over-video-canvas"></canvas>
</th:block>

<th:block th:fragment="playVideoScript (vidoeList)">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const cfg = Hls.DefaultConfig

        cfg["initialLiveManifestSize"] = 2
        cfg["backBufferLength"] = 0
        cfg["maxBufferHole"] = 0.0
        cfg["maxMaxBufferLength"] = 300
        cfg["liveSyncDurationCount"] = 0
        cfg["liveDurationInfinity"] = true

        if (Hls.isSupported()) {
            function setVideo(videoId) {
                let video = document.getElementById('video' + videoId);
                let hls = new Hls();

                hls.attachMedia(video);
                hls.loadSource("/api/v1/video/manifest?id=" + videoId);
                hls.on(Hls.Events.MANIFEST_PARSED, () => {
                    video.play();
                });
            }

            function checkFragmentExists(videoId) {
                const checkFragmentExistsXHR = new XMLHttpRequest()
                checkFragmentExistsXHR.open("GET", "/api/v1/video/manifest/check?id=" + videoId)

                checkFragmentExistsXHR.onload = (event) => {
                    if (event.target.status === 200 && event.target.response === "true") {
                        setVideo(videoId)
                    } else if (event.target.status === 404) {}
                    else {
                        setTimeout(checkFragmentExists, 1000, videoId)
                    }
                }

                checkFragmentExistsXHR.send()
            }

            const videoIds = [[${videoList}]].map((video) => video.id)

            videoIds.forEach(videoId => {
                checkFragmentExists(videoId)
            })
        }
        /*]]>*/
    </script>
</th:block>