body {
    margin: 0;
}

header {
    border-radius: 5px;
    width: 100%;
    background: #ececec;
    box-shadow: 0 2px #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

button {
    margin: 50px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 4px 2.5px;
    cursor: pointer;
}

h1 {
    width: 100%;
    text-align: center;
}

#headerNavigatorDiv {
    padding: 10px 10px 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.headerNavigatorVideoDropboxContext {
    display: none;
    position: absolute;
    z-index: 1;
    background: #ececec;
    border-radius: 0 0 5px 5px;
    min-width: 110px;
    box-shadow: 2px 2px #bebebe;
    margin-left: 20px;
}

/*noinspection CssNegativeValue*/
.headerNavigatorElementDiv {
    background: #c4c4c4;
    width: 100px;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 0 #b4b4b4, -2px 0 #b4b4b4, 0 -2px #b4b4b4;
    margin-left: 20px;
}

.headerNavigatorElementDiv:hover {
    background: #a6a6a6;
}

.headerNavigatorVideoDropbox:hover .headerNavigatorVideoDropboxContext {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.headerNavigatorVideoDropboxContextElement:hover {
    background: #a8a8a8;
    cursor: pointer;
}

.headerNavigatorVideoDropboxContextElement {
    padding: 10px;
    color: black;
    text-decoration: none;
}

#headerUserDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.headerUserElement {
    margin-left: 10px;
    margin-right: 10px;
}

#messageDiv {
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

@keyframes messageBlockAnimation {
    0% {opacity: 0.0}
    10% {opacity: 1.0}
    70% {opacity: 1.0}
    85% {opacity: 0.5}
    100% {opacity: 0.0}
}

.messageBlock {
    border: 1px solid black;
    width: 400px;
    margin: 10px;
    box-shadow: 2px 2px;
    border-radius: 5px;
    font-family: monospace;

    animation: messageBlockAnimation 10.0s forwards;
    -webkit-animation: messageBlockAnimation 10.0s forwards;
}

.messageBlock:hover {
    animation-name: none;
}

.messageBlockTitle {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.messageBlockMessage {
    padding: 10px;
    border-top: 1px solid black;
}